
<!DOCTYPE html>
<html lang="ko">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글삭제</title>

    <link rel="stylesheet" href="{% static 'css/new_post.css' %}">
    <link rel="stylesheet" href="{% static 'css/remove_post.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretendard@1.3.6/dist/web/static/pretendard.css" />
</head>


<body>
    <div class="main-container">
        <!-- ✅ 헤더 -->
        <header>
            <div class="header-left">
                <div class="logo-icon">🛡️</div>
                <div class="logo-text">마이가드</div>
            </div>
            <button class="home-btn" onclick="location.href='/'">🏠</button>
        </header>

        <form method="POST">
            {% csrf_token %}
            <h3>{{ Post.postname }} - 삭제하기</h3>
            <button class="remove_btn">삭제</button>
        </form>
        <!-- ✅ 하단 내비게이션 -->
        <nav>
            <div class="nav-inner">
                <a href="/map">경찰서</a>
                <a href="/blog" class="active">게시판</a>
                <a href="/user/manage-emergency-contacts/">긴급연락처</a>
                <a href="/user/mypage/">마이페이지</a>
            </div>
        </nav>
    </div>
</body>

</html>

</html>